@CHARSET "UTF-8";

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 vertical-align: baseline;
 background: transparent;
}       
* {box-sizing: border-box;}
html {overflow-y: scroll;}
body, html { 
    width: 100%;
    height: 100%;
}

/*img, object, embed {max-width: 100%;}*/
a {color: #03f; text-decoration: none;}
ul {list-style: none;}
blockquote, q {quotes: none;}
hr {height: 1px; background: #ccc; border: 0;}

input, select {vertical-align: middle;}
label, input[type=button], input[type=submit], input[type=file], button {cursor: pointer;}
label {display: inline-block;}
textarea {overflow: auto;}
button, input, select, textarea {margin: 0; font-family: inherit; font-size: inherit;}

button {
    top: 0;
    left: 0;
    background: none; 
    outline: none;
    padding: 0;
    border:none;
}
button::-moz-focus-inner {
    border: none;
    padding:0;
}
button > span {
    position: relative;
}

table {
    border-collapse: collapse; 
    border-spacing: 0;
}
th {
    vertical-align: bottom;
}

/* clearfix */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }  
.clearfix:after { clear: both; }  

/* j.mp/webkit-tap-highlight-color */
a:link {-webkit-tap-highlight-color: #fcd700;} 

::-webkit-input-placeholder {color: #a9a9a9; opacity: 1;}
::-moz-placeholder {color: #a9a9a9; opacity: 1;}
:-ms-input-placeholder {color: #a9a9a9; opacity: 1;}